[access]
	inheritFrom = gitolite-split
[access "refs/heads/*"]
	owner = group user/Zhi Zhou (zhi.zhou)
	label-Code-Review = -2..+2 group user/Jian Wang (jian.wang)
	label-Code-Review = -2..+2 group user/Lifeng Cao (lifeng.cao)
	label-Code-Review = -2..+2 group user/Zhi Zhou (zhi.zhou)
	label-Verified = -2..+2 group user/Jian Wang (jian.wang)
	label-Verified = -2..+2 group user/Lifeng Cao (lifeng.cao)
	label-Verified = -2..+2 group user/Zhi Zhou (zhi.zhou)
